.DS_Store
.ipynb_checkpoints/*
Fundamentals/.idea/*
TooHotToHandle/.idea/*
PySpark Hello World/.ipynb_checkpoints/*
Fundamentals/Notebooks/.ipynb_checkpoints/*
PySparkHelloWorld/.ipynb_checkpoints/*
RecommendationSystem/*
NLP-TextComparison/.ipynb_checkpoints/*
rotten_tomatoes-datasets/*